body, ul, li, h1, h2, h3, a, p {
    margin: 0;
    padding: 0;
    font-family: tahoma, sans-serif;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#introduction, #news, #games, #contact {
    scroll-margin-top: 200px;
  }

/*MARIOCLUB HEADER*/

body {
    min-width: 360px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #F63232;
    padding: 20px 0;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
    padding: 6px 13px;
    border: 8px solid white;
    border-radius: 50px;

}

header a {
    text-decoration: none;
    color: inherit;
}

header h3:last-child {
    color: white;
    padding: 6px 13px;
    border: 6px solid white;
    border-radius: 50px;
    margin-right: 5vw;
} 

header h3:last-child:hover {
    background: #F4F4F4;
    color: #4B4B4B;
    border: 6px solid #4B4B4B;
    cursor: pointer;
}

.hidden-h3 {
    visibility: hidden;
    color: white;
    padding: 6px 13px;
    border: 6px solid white;
    border-radius: 50px;
    margin-left: 5vw;
}


/*BANNER*/

.banner {
    position: relative;

}

.banner img {
    width: 100%;
    display: block;
}

.banner h2 {
    font-size: 5.6rem;
}

.banner h2 span {
    font-size: 1.4em;
}

.welcome-text {
    position: absolute;
    top: 30%;
    left: 0; 
    background-color: #FEB614;
    color: white;
    padding: 30px;
}

/*NAVIGATION MENU*/

nav {
    background-color: #F4F4F4;
    position: sticky;
    top: 107px;
    padding: 20px;
    z-index: 1;
}

nav ul {
    white-space: nowrap;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
} 
 
nav li {
    width: 25%;
    display: inline-block;
    font-size: 1.5rem;
}

nav li:hover {
    text-decoration: underline;
    text-underline-position: under;
}

nav li:first-child {
    text-decoration-color: #F63232;
}

nav li:first-child a {
    color: #F63232;
}

nav a {
    text-decoration: none;
    color: #4B4B4B;
}

/*MAIN*/

/*INTRODUCTION*/

main {
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
}

article h2 {
    color: #F63232;
    font-size: 3rem;
    margin: 0 0 10px;
}

article p {
    color: #4B4B4B ;
    line-height: 2rem;
    font-size: 1.2rem;
}

article p::first-line {
    font-weight: bold;
    font-size: 1.3rem;
}

.images {
    white-space: nowrap;
    margin: 60px 0;
    text-align: center;
}

.images > * {
    display:  inline-block;
    max-width: 40%;
    margin: 20px 4%;
    transition: transform 0.05s;
    box-shadow: 12px 12px #4B4B4B;
    
}

.images > *:hover {
    transform: translateY(-5px)
}

/*MEMBERS SECTION*/

.members {
    margin: 0 50px;
}

.avatars-container-flex {
    display: flex;
    width: 100%;
    align-items: center;
    flex-flow: row;
}

.avatar-section-text {
    flex-grow: 1;
}

.avatar-section-text p {
    margin: 16px 0;
}

.avatars-and-text {
    display: flex;
    align-items: center;
    flex-flow: row;
}

.join-button {
    margin-left: 20px;
}

.join-button a {
    text-decoration: none;
    color: inherit;
}

.avatar-images {
    flex-grow: 1;
}

.avatar-images img {
    width: 55px;
    transition: transform 0.2s
}

.avatar-images img:hover {
    transform: scale(1.2)
}

.avatars-and-text h3 {
    border-radius: 30px;
    padding: 6px 13px;
    border: 6px solid #4B4B4B;
    color: black;
}

.avatars-and-text h3:hover {
    background-color: #F63232;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .avatars-container-flex {
        flex-flow: column;
        align-items: flex-start;
    }

}

@media only screen and (max-width: 850px) {
    .members {
        margin: 80px 10px;
    }
}

@media only screen and (max-width: 615px) {
    .avatars-and-text {
        display: flex;
        align-items: flex-start;
        flex-flow: column;
    }

    .join-button {
        margin: 10px 0 0;
    }
    
}

/*NEWS SECTION*/

.news {
    background-color: #F4F4F4;
    margin: 80px auto;
}

.news-title {
    padding: 5px 5px 0 5px;
}

.news-title h2 {
    color: #333;
    font-size: 1.571rem;
    background-color: #fff;
    padding: 20px;
}

.more-news a {
    text-decoration: none;
    color: inherit;
}

.more-news p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.more-news-container {
    padding: 0 5px 5px 5px;
}

.more-news {
    text-align: end;
    background-color: #fff;
}

.more-news p {
    background-color: #fff;
    padding: 12px;
    font-weight: 700;
    font-size: 0.875rem;
    color: #333333;
    display: inline-block;
}

.image-grid-container {
    display: grid;
    --grid-cols: 3;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    gap: 5px;
    padding: 5px;
    width: 100%;
}

.image-grid-container a {
    text-decoration: none;
    color: inherit;
}

.news-image-text-container {
    max-width: 500px;
    max-height: auto;
    background-color: #fff;
    padding: 8px;
}

.news-image-text-container img {
    width: 100%;
    object-fit: cover;
}

.news-image-text-container h3 {
    font-size: 1.125rem;
    margin: 10px 0 4px;
    color: #333;
}

.news-image-text-container a:hover h3 {
    text-decoration: underline;
    cursor: pointer;
}

.news-image-text-container p:nth-of-type(1) {
    font-size: 0.7rem;
    margin: 0 0 10px;
    color: #999;
}

.news-image-text-container p:last-of-type {
    font-size: 0,875rem;
    color: #666;
}

/*GAMES SECTION*/

.games-grid-container {
    --game-grid-cols: 3;
    display: grid;
    grid-template-columns: repeat(var(--game-grid-cols), 1fr);
    width: 100%;
    gap: 5px;
}

.hidden-image2 {
    display: none;
}

.hidden-image3 {
    display: none;
}

.span-cols {
    grid-column: span 2;
}

.span-row {
    grid-row: span 2;
}

.games-grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.25s, box-shadow 0.25s;
}

.games-grid-container img:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(155, 155, 155, 0.829);
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .games-grid-container {
        --game-grid-cols: 2;
    }

    .hidden-image1 {
        display: none;
    }

    .hidden-image1-2 {
        display: none
    }

    .hidden-image2 {
        display: block;
    }
}

@media only screen and (max-width: 700px) {
    .games-grid-container {
        --game-grid-cols: 1;
    }

    .span-cols {
        grid-column: span 1;
    }
    
    .span-row {
        grid-row: span 1;
    }

    .hidden-image2-2 {
        display: none;
    }

    .hidden-image1 {
        display: block;
    }

    .hidden-image3 {
        display: block;
    }
}

/*JOIN SECTION*/

.join {
    text-align: center;
    background-color: #F4F4F4;
    padding: 60px 20px;
    color: #4B4B4B;
}

.join h2 {
    font-size: 2.25rem;
}

.join p {
    font-size: 1.2rem;
}

form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 28px;
    border: 4px solid white;
  }

  form input:focus {
    border: 4px dashed #4B4B4B;
    outline: none;
  }

  form input:valid {
    border: 4px solid #71d300;
  }

/*FOOTER*/

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #F63232;
    color: white;
    font-size: 1.2rem;
}

/*MEDIA QUERIES*/

/*HEADER AND NAVIGATION MENU*/

@media only screen and (max-width: 520px) {
    .hidden-h3 {
        display: none;
    }

    header h1 {
        margin-left: 5vw;
    }
}

@media only screen and (max-width: 600px) {
    /*HEADER*/
    
    header {
        position: static;
    }

    /*NAVIGATION MENU*/

    nav {
        top: 0;
        padding: 10px;
    }

    nav li {
        display: block;
        margin: 0 auto;
        padding: 5px;
        width: 100%;
        border-radius: 30px;
    }

    nav li:hover {
        background-color: white;
        text-decoration: none;
        cursor: pointer;
    }

    nav li:first-child:hover {
        background-color: #F63232;
    }
    
    nav li:first-child:hover a {
        color: #F4F4F4;
    }

}

/*HEADER, BANNER-WELCOME TITLE AND IMAGES*/

@media only screen and (max-width: 1400px) {
    .banner h2 {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 950px) {
    .banner h2 {
        font-size: 2.25rem;
    }
}

@media only screen and (max-width: 850px) {
    /*BANNER*/
    .welcome-text {
        position: relative;
        text-align: center;
        padding: 20px;
    }

    .banner br {
        display: none;
    }

    .banner h2 span {
        font-size: 1em;
    }

    .banner h2 {
        font-size: 2rem;
    }

    nav li {
        font-size: 1.35rem;
    }

    /*IMAGES*/

    .images > * {
        display: block;
        max-width: 100%;
        margin: 30px auto;
    }
}


/*NEWS SECTION*/
@media only screen and (max-width: 1000px) {
   .image-grid-container {
    --grid-cols: 2;
    gap: 10px;
    padding: 10px;
   }

   .news-title {
    padding: 10px 10px 0 10px;
   }
   
   .more-news-container {
    padding: 0 10px 10px 10px;
   }
}

@media only screen and (max-width: 600px) {
    .image-grid-container {
        --grid-cols: 1;
        gap: 15px;
        padding: 15px;
    }

    .news-title {
        padding: 15px 15px 0 15px;
    }

    .more-news-container {
        padding: 0 15px 15px 15px;
    }

}
